<li class="front-item">
  <div class="front-wrapper">
    <div class="front-img-container">
      <img class="front-img" src="http://placekitten.com/g/88/88">
    </div>
    <div class="front-info-container">
      <span class="front-title">
        {{title}}
      </span>
      <span class="front-address">
        {{address}}
      </span>
      <span class="front-info">
        {{beds}} beds, {{baths}} baths, {{sqFt}} sqft{{#if listPrice}}, {{listPrice}}{{/if}}
      </span>
    </div>
  </div>
</li>
