<li class="front-item">
  <div class="front-wrapper">
    <div class="front-img-container">
      <a class="img-link-wrapper" href="{{path}}">
        <img class="front-img" src="http://placekitten.com/g/88/88">
      </a>
    </div>
    <div class="front-info-container">
      <a class="front-title-wrapper" href="{{path}}">
        <span class="front-title">
          {{title}}
        </span>
      </a>
      <span class="front-address">
        {{address}}
      </span>
      <span class="front-info">
        {{beds}} beds, {{baths}} baths, {{sqFt}} sqft{{#if listPrice}}, {{listPrice}}{{/if}}
      </span>
    </div>
  </div>
</li>
